:root {
  --field-bg-color: field;
  --ol-item-bg-color: white;
  --ol-item-text-color: black;
}
.light:root {
  --field-bg-color: #edecec;
  --ol-item-bg-color: #333;
  --ol-item-text-color: white;
}

html {
  font-size: 18px;
}

.nextra-body.full {
  margin: 0 auto;
}

code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.nextra-toc-meta {
  display: none;
}

code {
  font-family: "Menlo", PT Mono,Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace !important;
}

video {
  /* border: 2px solid #262626;
  border-radius: 10px; */
  width: 100%;
  margin: 2em 0;
  /* padding: 0 2em;
  background: black; */
}

.dark p, .dark ol, .dark li {
  color: #e3e3e3;
}
.light p, .light ol, .light li {
  color: #000;
}
.dark .demo p,
.light .demo p {
  color: inherit;
}
.styled-list ol {
  counter-reset: section;
}
.styled-list ol > li {
  counter-increment: section;
  position: relative;
  break-inside: avoid;
}
.styled-list ol > li::before {
  background-color: var(--ol-item-bg-color);
  border-radius: 50%;
  box-sizing: content-box;
  color: var(--ol-item-text-color);
  content: counter(section);
  font-size: 0.85rem;
  display: inline-block;
  font-weight: bold;
  height: 1rem;
  line-height: 1rem;
  left: -1.5rem;
  padding: 2px;
  position: absolute;
  top: 3px;
  text-align: center;
  width: 1rem;
}
.styled-list ol > li::marker {
  color: var(--ol-item-text-color);
  font-size: 0.85rem;
  margin-right: 0.5em;
}
.overview-columns {
  column-count: 2;
  column-gap: 20px;
}
iframe {
  border-radius: 7px;
  margin: 2em 0;
}

p > strong {
 color: #FF42A1;
}

.nextra-sidebar-menu {
  box-shadow: none !important;
}

.dark .nextra-sidebar-menu > div {
  background: black !important;
}

.light .nextra-sidebar-menu > div {
  background: white !important;
}

a > h1 {
  font-weight: 500;
}

ul.first\:nx-mt-0 {
  margin-top: 0;
}

main a {
  font-weight: bold;
}
.demo .badge {
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  height: 1.2rem;
  line-height: 1.2rem;
  position: absolute;
  right: 2px;
  text-align: center;
  top: -.5rem;
  width: 1.2rem;
}