.bookATrip {
    border: 2px solid currentColor;
    border-radius: 10px;
    max-width: 540px;

    fieldset {
        margin: 0;
        padding: 0;
    }
    fieldset legend {
        background-color: rgba(255, 255, 255, 0.15);
        border-bottom: 2px solid currentColor;
        display: block;
        font-weight: bold;
        padding: 1em;
        width: 100%;
    }
    .checkboxGroup {
        display: flex;
        flex-direction: row;
        padding: 1em 1em 0;
    }
    .formGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em 1em 0;
    }
    .chkLabel {
        display: flex;
        margin: 1em 1.5em 0 0;
    }
    input[type='checkbox'] {
        display: block;
        margin-left: 0;
        margin-right: 0.5em;
    }
    .inputTextlabel {
        display: flex;
        flex-direction: column;
        margin: 0em 1em 1em 0;
    }
    .inputTextlabel[hidden] {
        display: none;
    }
    .inputTextlabel input[type="text"],
    .inputTextlabel input[type="date"],
    .inputTextlabel select,
    .childrenDropDownToggle {
        display: block;
        height: 2rem;
        margin-top: 0.5em;
    }
    .childrenDropDownToggle {
        align-items: center;
        appearance: auto;
        background-color: field;
        line-height: inherit;
        font-size: 100%;
        padding: 0;
        position: relative;
        text-align: start;
    }
    .childrenDropDownToggle > [role="button"],
    .childrenDropDownToggle > button {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 4px;
    }
    .dropdownMenu {
        background-color: field;
        display: none;
        flex-direction: column;
        gap: 2px;
        position: absolute;
        width: 100%;

        &.active {
            display: flex;
        }

        li {
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            padding: 4px;

            input {
                grid-column: span 1 / span 1;
            }
            label {
                grid-column: span 4 / span 4;
                vertical-align: text-top;
            }
            &> div {
                display: flex;
                grid-column: span 1 / span 1;
                flex-direction: row;

                button {

                    &:last-of-type {
                        margin-left: 4px;
                        margin-right: 4px;
                    }

                    svg {
                        min-height: 1rem;
                        min-width: 1rem;
                    }
                }
            }
        }
        .children-dropdown-icon-wrapper {
            display: inline-block;
            padding: 8px 0;
        }
    }
}