.bookATrip {
    border: 2px solid currentColor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 540px;

    fieldset {
        margin: 0;
        padding: 0;
    }
    fieldset legend {
        background-color: rgba(255, 255, 255, 0.15);
        border-bottom: 2px solid currentColor;
        display: block;
        font-weight: bold;
        padding: 1em;
        width: 100%;
    }
    .checkboxGroup {
        display: flex;
        flex-direction: row;
        padding: 1em 1em 0;
    }
    .formGroup {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        padding: 1em 1em 0;
    }
    .chkLabel {
        display: flex;
        margin: 1em 1.5em 0 0;
    }
    input[type='checkbox'] {
        display: block;
        margin-left: 0;
        margin-right: 0.5em;
    }
    .inputTextlabel {
        display: flex;
        flex-direction: column;
    }
    .inputTextlabel[hidden] {
        display: none;
    }
    .inputTextlabel input[type="text"],
    .inputTextlabel input[type="date"],
    .inputTextlabel select,
    .childrenDropDownToggle {
        background-color: var(--field-bg-color);
        display: block;
        height: 2rem;
        margin-top: 0.5em;
    }
    .childrenDropDownToggle {
        align-items: center;
        appearance: auto;
        line-height: inherit;
        font-size: 100%;
        padding: 0;
        position: relative;
        text-align: start;
    }
    .childrenDropDownToggle > [role="button"],
    .childrenDropDownToggle > button {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 4px;

        .icon {
            border-radius: 3px;
            display: block;
            height: 100%;
            margin-left: auto;
            padding-left: 4px;
            padding-right: 4px;
            position: relative;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            background: transparent url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='12' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
            background-position: right 5px top 50%;
            width: 1rem;

            &.active {
                margin-right: 4px;
                transform: rotate(-180deg);
            }
        }
    }
    .dropdownMenu {
        background-color: var(--field-bg-color);
        display: none;
        flex-direction: column;
        gap: 2px;
        position: absolute;
        width: 100%;

        &.active {
            display: flex;
        }

        li {
            color: inherit;
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            padding: 4px;

            input {
                background-color: var(--field-bg-color);
                grid-column: span 1 / span 1;
            }
            label {
                grid-column: span 4 / span 4;
                vertical-align: text-top;
            }
            &> div {
                display: flex;
                grid-column: span 1 / span 1;
                flex-direction: row;

                button {

                    &:last-of-type {
                        margin-left: 4px;
                        margin-right: 4px;
                    }

                    svg {
                        min-height: 1rem;
                        min-width: 1rem;
                    }
                }
            }
        }
        .children-dropdown-icon-wrapper {
            display: inline-block;
            padding: 8px 0;
        }
    }
    input[type="submit"] {
        border-radius: 1rem;
        border: 2px solid currentColor;
        font-weight: bold;
        margin: 1em 1em 1em auto;
        padding: 1em;
    }
}
